<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
		
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/seleccion</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">mysql</property>
    
    
    <mapping class="edu.upc.io.seleccion.domain.Postulante"/>
    <mapping class="edu.upc.io.seleccion.domain.Prueba"/>
    <mapping class="edu.upc.io.seleccion.domain.Puesto"/>
    <mapping class="edu.upc.io.seleccion.domain.Nota"/>
    <mapping class="edu.upc.io.seleccion.domain.Peso"/>
    <mapping class="edu.upc.io.seleccion.domain.Puntaje"/>  
  </session-factory>
</hibernate-configuration>
